services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=db_task
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: